<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dynamic Templates</title>
</head>
<body>
    <h3>Dynamic Templates</h3>
    <p>This is a dynamic template example.</p>
    
    <h1 style="color:blue">welcome "{{ name }}"</h1>
    <h2 style="color:green">you are studying "{{ course }}"!</h2>

    <h3 style="color:RGB(128, 128, 128)">this is a dynamic template means passing values at runtime.
        or passingvalues from the backend to the frontend</h3>
        <p3 style="color:rgb(247, 6, 6)">name : "{{ name }}" and course : "{{ course }}" is your dynamic values
            passed to the frontend from the backend at runtime.
        </p3>

</body>
</html>